# Trivia

by Marley Buchman

### Military Strategy

**1. What is the SECOND stage of a penetration test?**
    
    A. Surveillance of the enemy's headquarters
    
    B. A direct attack through an enemy's lines
    
    C. An attack on the enemy's rear forces

**2. Which tactic involves attacking an enemy from the rear?**
    
    A. Flanking maneuver
    
    B. Counterforce
    
    C. Pincer maneuver

**3. A scorpion attack is a pincer attack that is assited by what kind of force?**
    
    A. Armored vehicle attack
    
    B. Air attack
    
    C. Naval bombardment

### Universities

**1. Given the pair of universities, which university has a larger student body?**
    
    University of Central Flordia or Ohio State University

**2. Given the pair of universities, which university has a larger student body?**
    
    Michigan State University or University of Southern California

**3. Given the pair of universities, which university has a larger student body?**
    
    UCLA or University of Wisconsin

**4. Given the pair of universities, which university has a larger student body?**
    
    Harvard or Oregon State University

**5. Given the pair of universities, which university has a larger student body?**
    
    Portland State University or Kansas State University

### Age of Historical Figures

**1. Which historical figure was born first?**
    
    A. Martin Luther King Jr
    
    B. Anne Frank
    
    C. George H.W. Bush
    
    D. Joe Biden
    
    E. James Dean

### Corporate Headquarter Locations

**1. Match the corporate headquarter location to the corporation**
    
    A. FedEx
    
    B. Comcast
    
    C. Home Depot
    
    D. Dominos
    
    -------------------
    
    1. Philadelphia, PA
    
    2. Ann Arbor, MI
    
    3. Memphis, TN
    
    4. Atlanta, GA

### Sports Careers

**1. Relative to their sport, what athlete scored more over the course of thier career?**
    
    A. Alex Rodriguez is in X place all time in career home runs
    
    B. Wilt Chamberlin is in Y place all time in career points scored
    
    C. Philip Rivers is in Z place all time in career touchdowns scored

    Order X, Y, and Z from highest to lowest

### Identify the International Cities by their Skyline

**1.**

![](img/international_skylines/moscow_skyline.jpeg)

**2.**

![](img/international_skylines/hong_kong_skyline.jpeg)

**3.**

![](img/international_skylines/toronto_skyline.jpeg)

### Identify the U.S. Cities by their Skyline

**1.**

![](img/us_skylines/los_angeles_skyline.jpeg)

### Puzzle/Word Problem/Riddle

**1.** 

Suppose you're on a game show, and you're given the choice of three doors: 

Behind one door is a car; behind the others, goats. 

You pick a door, say No. 1, and the host, who knows what's behind the doors, opens another door, say No. 3, which has a goat. He then says to you, "Do you want to pick door No. 2?" 

Is it to your advantage to switch your choice?

### Music Chronology

**1. Match the release date to the classic album**

    1. May 26, 1967
    
    2. January 12, 1969
    
    3. November 4, 1970
    
    4. March 1, 1973
    
    5. January 20, 1975
    ------------------------------------------
    A. David Bowie: The Man Who Sold The World
    
    B. Pink Floyd: Darkside Of The Moon
    
    C. Bob Dylan: Blood On The Tracks
    
    D. Led Zeppelin: Led Zeppelin
    
    E. Beatles: Sgt Pepper Lonely Heart's Club Band

### Mathematics

**1. What simple mathematical concept does the following equation represent?**

![](img/mathematics/mean.png)

### Geography: Longitude

**1. Order the European cities from West to East**

    A. Vienna
    
    B. Paris
    
    C. Rome
    
    D. Berlin
    
    E. Amsterdam

**2. Order the Chinese cities from West to East**

    A. Beijing
    
    B. Wuhan
    
    C. Shenzen
    
    D. Shanghai

**3. Order the Texas cities from West to East**

    A. El Paso
    
    B. Dallas
    
    C. Austin
    
    D. Houston
    
    E. San Antonio

### Geography: Latitude

**1. Order the European cities from North to South**

    A. Paris
    
    B. Barcelona
    
    C. Milan
    
    D. Copenhagen
    
    E. London
    
    F. Munich

**2. Order the English cities from North to South**

    A. London
    
    B. Liverpool
    
    C. Cambridge
    
    D. Manchester
    
    E. Southampton

**3. Order the Ohio cities from North to South**

    A. Dayton
    
    B. Cleveland
    
    C. Cincinatti
    
    D. Columbus
    
    E. Toledo