In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [2]:
wikiurl = "https://en.wikipedia.org/wiki/List_of_Survivor_(American_TV_series)_contestants"

table_class = "wikitable sortable jquery-tablesorter"

response = requests.get(wikiurl)

200

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

df1 = pd.read_html(str(soup.find('table', {'class':"wikitable"})))[0]

df2 = pd.read_html(str(soup.find_all('table', {'class':"wikitable"})[1]))[0]

df3 = pd.read_html(str(soup.find_all('table', {'class':"wikitable"})[2]))[0]

df = pd.concat([df1, df2, df3], axis=0)

In [89]:
df_ = (
    df
    .drop(['Name', 'Season'], axis=1)
    .loc[~df['Finish'].isnull()]
    .assign(
        Finish=lambda df_: df_['Finish'].str.replace('Winner', '1th').replace('Runner-Up', '2th').replace('Runner-up', '2th').replace('Co-runner up', '2th').replace('2nd Runner-up', '3th').str.extract('(\d+)').astype(int)
    )
    
)

state_ = (
    df_
    ['Hometown']
    .str.split(',', expand=True)
    [1]
)

df_ = (
    df_
    .assign(state_=state_.str.replace('New York', 'NY').replace('California', 'CA'))
)

In [106]:
(
    df_
    .groupby(['Profession'])
    .agg(
        count_=('Finish', 'count'),
        avg_finish=('Finish', 'mean')
    )
    .sort_values('avg_finish', ascending=True)
    .query("count_ > 2")
)

                                     count_  avg_finish
Profession
Flight Attendant                          3    3.666667
Actress                                   4    5.250000
Pharmaceutical Saleswoman                 4    5.500000
Office Assistant                          3    5.666667
Advertising Executive                     4    5.750000
Medical Student                           3    6.000000
Nanny                                     3    6.333333
Soccer Coach/Musician                     3    6.333333
Waiter                                    3    7.000000
Nurse                                     6    7.166667
Hairdresser                               4    7.250000
Oil Company Owner                         3    7.333333
Rancher                                   3    7.666667
Marketing Manager                         4    7.750000
Construction Worker                       6    8.000000
Ex-NFL Player                             3    8.000000
Teacher                                   7    8.285714
Photographer                              3    8.333333
Real Estate Agent                         7    8.428571
Personal Trainer                          5    8.600000
Firefighter                              13    8.846154
Cattle Rancher                            3    9.000000
Executive Recruiter                       3    9.000000
Gravedigger                               3    9.333333
College Student                           3    9.333333
Pharmaceutical Sales Representative       3    9.333333
Police Officer                           10    9.400000
Model                                     6    9.500000
Troubled Teens Mentor                     4    9.500000
Writer                                    4    9.500000
Physician                                 3    9.666667
Homemaker                                 3   10.333333
Student                                  20   10.400000
Pre-Med Student                           3   10.666667
Waitress                                  6   10.666667
Farmer                                    3   10.666667
Motivational Speaker                      5   11.000000
Bartender                                17   11.117647
Cosmetology Student                       3   11.666667
Law Student                              11   12.272727
Army Veteran                              3   12.333333
Attorney                                 20   12.450000
Social Worker                             4   13.250000
Hairstylist                               3   13.333333
Marketing Director                        3   13.666667

In [98]:
(
    df_
    .loc[df_['Finish'] == 1]
    .groupby(['state_'])
    .agg(
        winners_=('Finish', 'count')
    )
    .sort_values('winners_', ascending=False)
    .query("winners_ >= 2")
)

        winners_
state_
 CA            8
 NJ            4
 NY            4
 PA            3
 UT            2
 IA            2
 TX            2
 ON            2

In [100]:
ca_ = 8 / 39.35
nj_ = 4 / 8.885
ny_ = 4 / 19.51
pa_ = 3 / 12.79
ut_ = 2 / 3.151
ia_ = 2 / 3.15
tx_ = 2 / 28.64

In [101]:
{'ca': ca_, 'nj': nj_, 'ny': ny_, 'pa': pa_, 'ut': ut_, 'ia': ia_, 'tx': tx_}

{'ca': 0.20330368487928843,
 'nj': 0.4501969611705121,
 'ny': 0.20502306509482315,
 'pa': 0.23455824863174357,
 'ut': 0.634719136781974,
 'ia': 0.6349206349206349,
 'tx': 0.06983240223463687}

In [96]:
for x in df_['Profession'].value_counts().index:
    print(x)

Attorney
Student
Bartender
Firefighter
Law Student
Police Officer
Real Estate Agent
Teacher
Waitress
Construction Worker
Nurse
Model
Motivational Speaker
Personal Trainer
Pharmaceutical Saleswoman
Advertising Executive
Troubled Teens Mentor
Social Worker
Marketing Manager
Actress
Writer
Hairdresser
Soccer Coach/Musician
Pharmaceutical Sales Representative
Army Veteran
Pre-Med Student
Ex-NFL Player
Gravedigger
Farmer
Executive Recruiter
Photographer
Nanny
Cosmetology Student
Office Assistant
Cattle Rancher
Homemaker
Marketing Director
Physician
Oil Company Owner
Waiter
Hairstylist
Rancher
Medical Student
College Student
Flight Attendant
Fitness Instructor
Accountant
Sex Therapist
Musician
Art Consultant
Mortician
Marketing Executive
Administrative Assistant
Pageant Coach
Television Writer
Economics Student
Truck Driver
Male Model
Jewelry Designer
Barrel Racer
Swimsuit Model
Medical Saleswoman
Internet Projects Manager
Jeweler
School Principal
Actor
Seminary Student
Small Business Owner
Pin-Up Model
Business Student
Yahoo! Executive
Former MLB Player
Financial Consultant
Real Estate Salesman
Entrepreneur
Sales Manager
Doctor
Postal Worker
Martial Arts Instructor
Corporate Consultant
Stay-at-Home Mom
Computer Projects Coordinator
Pilot
Pre-Law Student
Medical Sales Representative
Charity Organizer
Dietitian
Business Consultant
Pastor
Office Manager
College Administrator
Yoga Instructor/Math Professor
Internet Technology Director
Social Media Marketer
Gardener
Goat Farmer
Aspiring Designer
Real Estate Broker
Chemist
Iraq War Veteran
Professional Wrestler
Career Counselor
Corporate Trainer
Personal Injury Attorney
Yoga Instructor
Professional Poker Player
Rocket Scientist
Asset Manager
Retail Saleswoman
Harvard Law Student
Former Pro Cyclist/Shop Manager
ER Doctor
Swimsuit Photographer
Police Sergeant
Ivy League Student
Healthcare Consultant
Paddleboard Company Owner
Nursing Student
Wedding Videographer
State Trooper
English professor
Sailing Instructor
Ex-Talent Agent Assistant
Investment Banker
Former Miss Delaware
General Contractor
YouTube Sensation
Corporate Executive
Oil Driller
River Guide
Contractor
Quantitative Strategist
Insurance Saleswoman
Cosmetologist
Ice Cream Entrepreneur
Media Consultant
Traveling Sales Representative
Hearing Advocate
BMX Bike Salesman
Nuclear Engineer
Miami Marlins President
Racecar Driver
Pharmaceutical Sales
Cigar Lounge Owner
Real Estate
Event Planner
Software Sales
Entertainment Host and Writer
Hedge Fund Support
Post Office Manager/Farmer
Comic Book Artist
Fireman/EMT
Merchandiser
Physician/Army Orthopedic Surgery Resident
Full-Time Student/Sales
Attorney/Retired NFL Player
Cocktail Waitress/Graphic Designer
Fast Food Franchisee
Former NBA All-Star
Ex-NFL Cheerleader
Coconut Vendor
Chemical Disposal
Computer Engineer
Engineer Graduate/Model
Track Coach
Retail Buyer
Crossfit Coach/Physical Therapy Student
Media Buyer
Competitive Cheerleading Gym Owner
Financial Assistant
Broadway Performer/Model/Aerialist
Singer/Actor/Writer
Model/Spray Tan Business Owner
Student Teacher
Crossfit Coach/Project Coordinator
Former TV Teen Star
Professional Speaker
Pilates Teacher
Administrative Officer
Former NBA Player
Horse Trainer
Miss Kentucky Teen USA
NFL Player
Bounty Hunter
Admissions Counselor
Tech Sales
Chief Lifeguard
Talent Manager
Factory Worker
Olympic Medalist
Air Force Veteran
Gym Owner
MBA Student
Grad Student
Former NHL Player
Digital Content Creator
Poker Player
Director of Marketing & Communications
District Sales Manager
YMCA Program Director
Toymaker
Morning News Anchor
Divorce Attorney
Law Student/Former Military
Medical Assistant
Multimedia Artist
Sales Representative
Public Defender
Filmmaker
4th Grade Teacher
Sideline Chic Owner
Former FBI Agent
PhD Student
Beach Service Company Owner
Veterinarian
Fitness Consultant
Data Scientist
Therapist
Stay-at-Home Dad
Law Clerk
Creative Director
Healthcare Worker
Communications Manager
App Developer
Grocery Clerk
Keynote Speaker/Social Entrepreneur
Neurosurgeon
Cyber Security Analyst
CrossFit Trainer
Business Development Manager
Real Estate Agent/Stay-at-home Dad
Interior Designer
Host/Keynote Speaker
Furniture Designer
Product Management
Case Manager
Life Coach/Speaker/Yoga Teacher
Realtor
Social Media Manager
Robotics Scientist
Barista
Wilderness Therapy Guide
Physical Therapist
Nurse Practitioner
Celebrity Assistant
Diversity Advocate
Olympian
Attorney/Former NFL Player
Vacation Club Sales
Entertainment Host/Writer
Internet Project Manager
Homeless Shelter Manager
Youth Pastor
Technical Writer
High School Student
Assistant District Attorney
Trial Attorney
Snowboard Instructor
Missionary Recruiter
Vacation Club Saleswoman
Insurance Adjuster
Boat Mechanic
Gamer
Recruiting Director
Bodybuilder
Probation Officer
Fisherwoman
Lifeguard
Urologist
S.W.A.T. Officer
Kitchen Staff Member
Airline Agent
Publishing CEO
Industrial Engineer
Mixed Martial Arts Fighter
Maintenance Manager
Furniture Company Owner
Construction Supervisor
Caretaker
Fishing Guide
EMT/Pro Cheerleader
Advertising Account Executive
Social Media Strategist
Business Analyst
Physical Education Teacher
Marine Animal Trainer
Music Teacher
Graphic Saleswoman
Marine
Actuary
Bellhop
Surf Instructor
Model/Student
Musician / Retired Teacher
Tire Repairman
Freelance Writer
Drill Sergeant
Housing Case Manager
Mechanical Bull Operator/Model
Real State Agent
Security Officer
FBI Agent
Bookkeeper
Sheep Farmer
Document Manager
Health and Fitness Reporter
Waitress/Bartender
Coffee Barista
Retired Navy Seal
Scoutmaster
Computer Programmer
Electrician
Equity Trade Manager
Advertising Salesman
Sales Executive
Produce Clerk
Massage Therapist
Restaurant Designer
Equity Research Assistant
Youth Mentor
Bridal Shop Owner
Nursing Practitioner
Missile Engineer
Singer/Entertainer
Lumberjill
Sports Radio Host
Wilderness Guide
Fishmonnger
Zookeeper
Hotel Doorman
Former NFL Quarterback
Water Skiing Instructor
Retail Salesperson
Highway Repair Worker
Magician's Assistant
Retired Fire Captain
Dolphin Trainer
Civil Rights Attorney
Vegas Showgirl
Steelworker
Graduate Student
English Teacher
Sales & Marketing Associate
Highway Construction Worker
Gym Teacher
Children's Adventure Guide
Triathlon Coach
Singer/Songwriter
Dentist
Sheriff
Mail Carrier
Personal Nurse
Auto Customizer
Chef
Footwear Designer
Teacher/Farmer
Aspiring Actress
Software Publisher
Retired Police Officer
Deputy District Attorney
Army Intelligence Officer
Corrections Officer
River Rafting Guide
Retired NAVY Seal
Neurologist
YMCA Basketball Coach
Ivy League Graduate
Health Club Consultant
Dairy Farmer
Biochemist
Basketball Coach
Behavior Analyst
Telephone Technician
Freelance Marketer
Construction Company Vice President
Guidance Counselor
Tax Accountant
Used Car Salesman
Restaurant Owner
Navy Swim Instructor
Software Developer
Land Broker
Legal Secretary
Dental Student
Judge
Limousine Driver
Crime Reporter
Fishing Boat Captain
Nature Guide
Account Manager
Ex-Navy Fighter Pilot
Truck Assembler
Bowling Alley Owner
Professional Soccer Player
Retired Teacher
Property Developer
Astronaut
Financial Salesman
Art Student
Defense Attorney
Visual Effects Producer
Pharmaceutical Representative
Professional Racecar Jackman
Swim Coach
Real Estate Executive
Dog Trainer
Club Promoter
P.E. Teacher
Technology Executive
Real Estate Developer
Former Pop Star
Commercial Fisherman
Former NFL Coach
Pest Control Company Owner
Goat Rancher
Former Professional Cyclist
T-shirt Designer
Saleswoman
Urban Planner
Spa Saleswoman
Bar Manager
Professional Dancer
Former Federal Agent
Spoken Word Artist
Retired NYPD Detective
High School Teacher
Career Consultant
Special Education Teacher
Plastic Surgeon
Timeshare Representative
Phlebotomist
Banker
Sushi Chef
Ex-NFL Player's Wife
Stand-Up Comedian
Retired LAPD Officer
Motorcycle Repairwoman
Baseball/Dating Coach
Oil Tanker Crewman
Anesthesiologist
Country Music Singer
English Profressor
Water Treatment Technician
Medical Marijuana Dispenser
Lingerie Football Player
Dance Team Manager
Personal Chef
Professional Cyclist
Art Teacher
Copier Sales Executive
Web Producer
Customer Service Representative
Expert Witness Locator
Single Mother
Loan Officer
School Bus Driver
Architect
Non-Profit Fundraiser
Fashion Stylist
Management Consultant
Boxer
Bus Driver
Shoe Salesman
Makeup Artist
Fashion Director
Roller Girl
Nail Salon Manager
Profession Volleyball Player
Risk Consultant
Heavy Metal Musician
Jazz Musician
Fire Dancer
Cheerleading Coach
Chicken Farmer
Christian Radio Host
Former Model
U.S. Army Sergeant
Physics Teacher
Professional Gamer
Olympic Gold Medalist
Jewelry Salesman/Photographer
Maintenance Man
Retired Nurse
Music Producer
Ice Cream Scooper
Gymnastics Coach
Law School Student
Residential Builder
Golf Course Vendor
Aspiring Writer
Real Estate Manager
Hiking Guide
School Lunch Lady
Student/Athlete
Profession Poker Player
Elementary Teacher
Surfing Instructor
Retired Firefighter